@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Super Zapatos</h1>
    <p class="lead">The best shoes in town!.</p>
    <p><a href="@Url.Action("Index", "HomeAdmin")" class="btn btn-primary btn-lg">Go to admin section</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sneakers</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam posuere laoreet ante sit amet.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sandals</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam posuere laoreet ante sit amet.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Moccasins</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam posuere laoreet ante sit amet.</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>