<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="WebAPIUrl" value="http://localhost:54895/services/"/>
  <add key="BasicAuthUser" value="my_user"/>
  <add key="BasicAuthPassword" value="my_password"/>
</appSettings>